@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --blue-color: #4e72d0;
    --orange-color: #ef6300;
    --background-color: rgb(245, 246, 250);
    --light-font: #9a9a9a;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
} 

/* contact form */

.low-form-content {
    background-color: var(--background-color);
    padding: 100px 0;
}

.form {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 20px;
    margin: 20px;
}


.form-text {
    text-align: left;
}

.form-text p{
    color: var(--light-font);
    font-size: 16px;
    font-weight: bold;
}

.form h4, p, a {
    padding: 5px;
}
.form a {
    color: var(--blue-color);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 20px 0px;
}
.form a:hover {
    color: var(--orange-color);
    cursor: pointer;
}

label input {
    font-size: 18px;
    font-weight: 700;
    width: 240px;
    height: 30px;
    border: 2px solid;
    border-radius: 8px;
    margin-top: 20px;
}

label textarea {
    font-size: 18px;
    font-weight: 700;
    width: 240px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid;
    margin-top: 20px;
}

.low-form-content form button {
    width: 240px;
    height: auto;
    font-size: 24px;
    font-weight: 700;
    color: #f5f6fa;
    text-align: center;
    background-color: var(--orange-color);
    padding: 0.35em 1.2em;
    margin: 0 0.3 0.3 0;
    transition: 0.7ms;
    border-radius: 10px;
}
.low-form-content form button:hover {
    color: rgb(162, 248, 33);
    background-color: var(--blue-color);
    cursor: pointer;
}

.low-form-content {
    display: flex;
}
.low-form-content img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .form form,
    .low-form-content {
        display: grid;
        justify-content: center;
    }

}
@media (max-width: 520px) {
    .form a {
        font-size: 16px;
    }
    .low-form-content img {
        display: none;
    }
    .low-form-content {
        padding: 20px 0;
    }

}