
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --blue-color: #4e72d0;
    --orange-color: #ef6300;
    --background-color: rgb(245, 246, 250);
    --light-font: #9a9a9a;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
}

    /*.header-menu */

.header-top-content {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 10px;
}
.header-top-content-burger {
    display: none;
}

.contacts {
    display: flex;
    padding-top: 10px;
}

.contact-title,
.working-hours {
    color:var(--blue-color);
    padding: 5px;
}

.contact-title a {
    text-decoration: none;
    color:var(--orange-color);
}
.contact-title a:hover {
    text-decoration: underline;
    color:var(--blue-color);
}

.working-hours span {
    color: var(--orange-color);
}


.social-icons img {
    width: 40px;
}


.lng-list select {
    width: 50px;
    height: 40px;
    font-weight: 700;
    background-size: cover;
    background-image: url('../../img/header-img/lang-ic/ua-ic.png');
    border-radius: 5px;
}

@media(max-width: 900px) {
    .contacts {
        display: block;
    }
    .social-icons,
    .languages {
        padding-top: 20px;
    }
}

@media(max-width: 880px) {
    .header-top-content {
        display: none;
    }
    .header-top-content-burger {
        display: block;
    }
}